.btn {
    display: block;
}

div {
    align-content: center;
    text-decoration-style: wavy;
}

.text p {
    color: black;
    position: relative;
    font-size: 24px;
}

#ourRecommendation {
    display: none;
    color: red;
    position: relative;
    font-size: 20px;
}


.hideShow {
    display: none;
    background: none;
    }
