.btn {
    display: block;
}

div {
    align-content: center;
    text-decoration-style: wavy;
}

.text h3 {
    color: red;
    position: relative;
    font-size: 24px; 
}
.text p {
    color: black;
    position: relative;
    font-size: 24px;
}

#ourRecommendation {
    display: none;
}

.hideShow {
    display: none;
    border:1px    
}

div.hideShow {
    margin: 5px;
    width: 700px;
    background: none;
    }
